.about {
  padding: 106px 25px 111px 205px;
  background-image: url("../img/2005.png");
  background-position-x: -5px;
  background-position-y: 111px;
  background-repeat: no-repeat;
  background-size: 220px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/2005@2x.png");
  }

  @media (max-width: $max-tablet-width) {
    background-image: url("../img/2005_tablet.png");
    background-size: 244px;
    padding: 56px 25px 84px 213px;
    background-position-x: 0;
    background-position-y: 55px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/2005_tablet@2x.png");
    }
  }

  @media (max-width: $max-mobile-width) {
    background-image: none;
    padding: 60px 15px 65px 15px;
  }
}

.about h2 {
  @include font-roboto;
  margin: 0 0 20px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: $grey;

  @media (max-width: $max-tablet-width) {
    margin: 0 0 25px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 0 0 19px;
    font-size: 28px;
    line-height: 39px;
  }
}

.about p {
  margin: 0 0 22px;
  color: $grey;

  @media (max-width: $max-tablet-width) {
    margin: 0 0 20px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 0 0 44px;
  }
}

.about__text-mobile-hidden {
  @media (max-width: $max-tablet-width) {
    display: none;
  }
}

.about__button {
  @include font-roboto;
  display: block;
  margin-top: 37px;
  border: 1px solid $blue;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $blue;
  padding: 13px;
  width: 180px;

  &:hover,
  &:focus {
    background-color: $blue;
    color: $white;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $max-tablet-width) {
    margin-top: 41px;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: -19px;
  }
}
