.about {
  padding-top: 106px;
  padding-bottom: 110px;
  padding-left: 180px;
  background-image: url("../img/2005.png");
  background-position-x: -30px;
  background-position-y: 111px;
  background-repeat: no-repeat;

  @media (max-width: $max-tablet-width) {
    background-image: url("../img/2005_tablet.png");
    padding: 56px 0 84px 188px;
    background-position-x: -25px;
    background-position-y: 55px;
  }

  @media (max-width: $max-mobile-width) {
    background-image: none;
    padding: 60px 0 65px;
  }
}

.about h2 {
  @include font-roboto;
  margin: 0 0 20px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: $grey;

  @media (max-width: $max-tablet-width) {
    margin: 0 0 25px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 0 0 19px;
    font-size: 28px;
    line-height: 39px;
  }
}

.about p {
  margin: 0 0 22px;
  color: $grey;

  @media (max-width: $max-tablet-width) {
    margin: 0 0 20px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 0 0 44px;
  }
}

.about__text-mobile-hidden {
  @media (max-width: $max-tablet-width) {
    display: none;
  }
}

.about__button {
  @include font-roboto;
  display: block;
  margin-top: 37px;
  border: 1px solid $blue;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $blue;
  padding: 13px;
  width: 180px;

  @media (max-width: $max-tablet-width) {
    margin-top: 41px;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: -19px;
  }
}
