.logo__img {
  width: 202px;
  height: 52px;

  &--mobile {
    @media (max-width: $max-mobile-width) {
      width: auto;
      height: 38px;
    }
  }
}

.logo__text {
  @media (max-width: $max-mobile-width) {
    display: none;
  }
}

.logo__name {
  fill: $logo-name;
}
