@font-face {
  font-family: "PT Mono";
  font-weight: 400;
  font-style: normal;
  src: local("PT Mono"),
    url("../fonts/PT-Mono_Regular.woff2") format("woff2"),
    url("../fonts/PT-Mono_Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto Condensed"),
    url("../fonts/roboto-condensed.woff2") format("woff2"),
    url("../fonts/roboto-condensed.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto Condensed Bold"),
    url("../fonts/roboto-condensed-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}
